<template>
  <div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 imgFondo">
          <div class="colorFondo"></div>
          <div class="row">
            <div class="col-12 col-xl-9 bg-white rounded mx-auto my-4 p-0">
              <div class="txtVist">
                <div>
                  <p id="idGracias">
                    <b>Seguro de Auto {{$store.state.config.asgNombre}}</b>
                  </p>
                </div>
              </div>
              <div class="col-11 col-sm-12 col-md-11 bg-white rounded m-auto my-auto text-center mb-2">
                <h2 class="txtgracias">Hola <strong style="color:#c10e2d">{{$store.state.formData.nombre}}</strong>,encontramos el mejor precio del seguro de tu auto</h2>
                <!-- <h3 class="txtgracias">encontramos el mejor precio del seguro de tu auto</h3> -->
                  <div class="mt-2 mb-2 py-2 col-md-10 col-11 m-auto">
                    <h3 class="dauto " >{{$store.state.formData.marca}}  {{$store.state.formData.modelo}} {{$store.state.formData.descripcion}} {{$store.state.formData.detalle}} </h3>
                  </div>
              </div>
            </div>
            <div
              class="col-12"
              v-if="!$store.state.cargandocotizacion && !$store.state.msjEje && !$store.state.msj"
            >
              <loader />
            </div>
            <div class="col-xl-9 mx-auto bg-white rounded col-12 p-xl-0" v-if="$store.state.formData.precio > 0 && $store.state.formData.precio !== '' && $store.state.formData.precio != null ">
              <tabla />
            </div>
            <div class="col-xl-8 offset-xl-2 col-12 p-xl-0" v-if="$store.state.msjEje">
              <msjSinRes />
            </div>
            <div class="col-xl-8 offset-xl-2 col-12 p-xl-0" v-if="$store.state.msj">
              <msjSinRes />
            </div>
          </div>
        </div>
      </div>
    </div>
    <logica-component/>
  </div>
</template>

<script>
import tabla from "~/components/utilities/tabla.vue";
import rest from "~/components/utilities/rest.vue";
import msjSinRes from "~/components/utilities/msjSinRes.vue";
import loader from "~/components/utilities/loading.vue";
import logicaComponent from "~/components/common/logica.vue"

export default {
  //layout: "thanks",

  components: {
    tabla,
    rest,
    msjSinRes,
    loader,
    logicaComponent
  },
  head() {
    return {
      title: "Seguros el Potosí – Cotiza el Mejor Seguro de auto el Potosí",
      meta: [
        {
          hid: "keywords",
          name: "keywords",
          content:
            "Seguros el Potosí, El Potosí, El Potosí Seguros, Seguros de autos el Potosí, Seguros el potosí Querétaro"
        },
        {
          hid: "description",
          name: "description",
          content:
            "Cotiza al mejor precio Seguros el Potosí. Protege tu auto, ya que con el Mejor Seguro de Auto tenemos las mejores coberturas en Seguros de auto el Potosí."
        },
        { hid: "robots", name: "robots", content: "index, follow" },
        {
          hid: "author",
          name: "author",
          content: "seguroselpotosi.mx"
        },
        {
          hid: "sitemap",
          rel: "sitemap",
          type: "application/xml",
          title: "sitemap",
          href: "sitemap.xml"
        },
        {
          hid: "canonical",
          rel: "canonical",
          href: "https://seguroselpotosi.mx/cotizar-seguro-de-auto/thank-you"
        }
      ]
    };
  }
};
</script>