<!DOCTYPE html>
<html lang="es" {{ HTML_ATTRS }}>
  <head {{ HEAD_ATTRS }}>
	<script>
		window.dataLayer = window.dataLayer || [];
	</script>
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-W4MS4RH');</script>
	<!-- End Google Tag Manager -->
    {{ HEAD }}
  </head>
  <body {{ BODY_ATTRS }}>
  	<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W4MS4RH"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    {{ APP }}
  </body>
</html>