<template>
  <div class="addCont">
    <span>
      Recibe todos los beneficios de    
      <b>{{$store.state.config.asgNombre}}</b>
    </span>
    <hr />
    <div class="row">
      <div class="col-12 col-sm-4">
        <img src="/img/gruap.svg" width="120" height="120" :alt="$store.state.config.k1" />
        <p>Asistencia vial</p>
      </div>
      <div class="col-12 col-sm-4">
        <img src="/img/carrop.svg" width="120" height="120" :alt="$store.state.config.k2" />
        <p>Auto sustituto</p>
      </div>
      <div class="col-12 col-sm-4">
        <img src="/img/tarjetap.svg" width="120" height="120" :alt="$store.state.config.k3" />
        <p>{{$store.state.config.msi}} Meses Sin Intereses</p>
      </div>
    </div>
  </div>
</template>