<template>
    <div class="row mx-auto justify-content-center text-center mb-3">
        <!-- COMPRA POR TELEFONO -->
        <div v-if="this.$store.state.config.interaccion" class="col-12 col-sm-6 order-2 order-md-1 mx-auto mx-sm-0 mt-3 mt-sm-0 p-0">
            <div><img src="/img/potosi.svg" class="d-none d-sm-flex mt-2 mb-3" style="width: 270px;margin: auto;height: 112px" /></div>
			<img src="/img/btn_telefono.svg" height="75" width="305" alt="compra-tel"
			@click="saveInteraccion()"
			 v-bind:class="{
                    disabled:this.$store.state.config.btnEmisionDisabled,
                  }"
                  :disabled = "this.$store.state.config.btnEmisionDisabled"

            v-on:click="show = !show" class="btn tel img-fluid" target="_blank" rel="nofollow" role="button"
			>
        </div>

        <!-- BTN COMPRA EN LINEA -->
        <div v-if="this.$store.state.config.emision" class="col-12 col-sm-6 order-1 order-md-2 mx-auto mx-sm-0 p-0">
			<div><img src="/img/potosi.svg" class=" mt-2 mb-3 d-block d-sm-none" style="width: 250px;margin: auto;height: 112px" /></div>
            <div class="text-center dinero mt-3">
            <!-- <div v-show="$store.state.formData.precio !== 0 && $store.state.formData.precio !== '' && $store.state.formData.precio !== null "> -->
                <!-- PRECIO -->
                <h3  class="mb-0 text-center ">AMPLIA</h3>
                <p class="mb-0" style="font-size: 12px;font-weight: 800;">PRECIO EXCLUSIVO EN LÍNEA</p>
                <!-- <br> -->
                <span>{{$store.state.formData.precio | currency}}</span>
            <!-- </div> -->
        </div>
			<img src="/img/btn_linea.svg" height="75" width="305" alt="compra-linea"
			class="btn linea img-fluid" target="_blank" rel="nofollow" role="button" @click="conectarEmision()"
            v-bind:class="{
                    disabled:this.$store.state.config.btnEmisionDisabled,
                  }"
                  :disabled = "this.$store.state.config.btnEmisionDisabled"

			>
        </div>
    </div>

</template>


<script>
import monitoreoService from "~/plugins/monitoreo";
import SaveLead from "~/plugins/saveTrigarante";
const sitio=process.env.sitio;
const motorCobro=process.env.motorCobro;
const saveLead = new SaveLead();
const tokenData = process.env.tokenData
    export default {
        data: function(){
            return{show: false}
        },
        methods: {
    conectarEmision() {
      if (!this.$store.state.config.habilitarBtnEmision) {
        this.$store.state.config.btnEmisionDisabled = true;
				var jsonEcomerseEmision = {
					msgSms: this.$store.state.config.textoSMS,
					isMailValid: this.$store.state.formData.emailValid,
					isTelefonoValid: false,
					isCpValid: this.$store.state.formData.codigoPostalValid,
					idProductoSolicitud: this.$store.state.config.idProductoSolicitud,
					idPagina: this.$store.state.config.idPagina,
					idMedioDifusion: this.$store.state.config.idMedioDifusionEcommerce,
					idEstadoCotizacion: 6, //segun Fredo
					idTipoContacto: 6, //segun Fredo
					peticion: JSON.stringify(this.$store.state.config.dataPeticionCotizacion),
					respuesta: JSON.stringify(this.$store.state.cotizacion),
					idSubRamo: this.$store.state.config.idSubRamo,
				};
				saveLead
					.saveLeadEmision(
						JSON.stringify(jsonEcomerseEmision),
						this.$store.state.config.accessToken
					)
					.then(resp => {
						resp = resp.data;

						/*Se valida que la respuesta no contenga ceros en los ID's*/
						if (
							resp.idSolicitud != 0 &&
							resp.idCotizacionAli != 0 &&
							resp.idCotizacion != 0 &&
							resp.idProductoSolicitud != 0 &&
							resp.idProspecto != 0 &&
							this.$store.state.formData.precio > 1000
						) {
							//Conexion a motor de pago online
							let peticion =
								resp.idSolicitud +
								'|' +
								resp.idCotizacionAli +
								'|' +
								resp.idCotizacion +
								'|' +
								resp.idProductoSolicitud +
								'|' +
								resp.idProspecto +
								'|' +
								sitio;
							let x = Buffer.from(JSON.stringify(peticion)).toString('base64');
							//let x=base64.encode(JSON.stringify(peticion))
							x = x.replace('"', '');
							// console.log("Emision Exitosa");
							//---------LOCAL
							// window.open("http://localhost:3201/?id="+x, "_blank");

							//------------PRODUCCION
              window.open(motorCobro + "?id=" + x, "_self"
							);
						}
					})
					.catch(error => {
						var status = 'ERR_CONNECTION_REFUSED';
						if (typeof error.status != 'undefined') {
							status = error.status;
						}
						else if (typeof error.response != 'undefined') {
							if (typeof error.response.status != 'undefined') {
								status = error.response.status;
							}
						}						
						if (status === 401) {
							this.$store.dispatch('getToken')
								.then(resp => {
									if (typeof resp.data == 'undefined') {
										state.config.accessToken = resp.accessToken;
									} else if (typeof resp.data.accessToken != 'undefined') {
										state.config.accessToken = resp.data.accessToken;
									}
									this.conectarEmision();
								})
								.catch(error => {
									this.store.state.idEndPoint = 49;
									this.catchStatusAndMessage(error, {'tokenData':tokenData});
									this.monitoreo();
								});
						} else {
							this.$store.state.idEndPoint = 440;
							this.catchStatusAndMessage(error, jsonEcomerseEmision);
							this.monitoreo();
						}
					});
      }
    },
    saveInteraccion() {
      if (!this.$store.state.config.habilitarBtnInteraccion) {
        this.$store.state.config.btnEmisionDisabled = true;
				var jsonEcomerse = {
					msgSms: this.$store.state.config.textoSMS,
					isMailValid: this.$store.state.formData.emailValid,
					isTelefonoValid:
						this.$store.state.formData.telefonoValid === 'FIJO' ||
						this.$store.state.formData.telefonoValid === 'MOVIL'
							? true
							: false,
					isCpValid: this.$store.state.formData.codigoPostalValid,
					idProductoSolicitud: this.$store.state.config.idProductoSolicitud,
					idPagina: this.$store.state.config.idPagina,
					idMedioDifusion: this.$store.state.config.idMedioDifusionInteraccion,
					idEstadoCotizacion: 7, //por defectro segun Fredo
					idTipoContacto: 1, //por defectro segun Fredo
					peticion: JSON.stringify(this.$store.state.config.dataPeticionCotizacion),
					respuesta: JSON.stringify(this.$store.state.cotizacion),
					idSubRamo: this.$store.state.config.idSubRamo,
				};
				saveLead
					.saveLeadInteraccion(JSON.stringify(jsonEcomerse), this.$store.state.config.accessToken)
					.then(resp => {
						//Conexion a motor de pago online
						console.log('INTERACCION OK....');
					})
					.catch(error => {
						var status = 'ERR_CONNECTION_REFUSED';
						if (typeof error.status != 'undefined') {
							status = error.status;
						}
						else if (typeof error.response != 'undefined') {
							if (typeof error.response.status != 'undefined') {
								status = error.response.status;
							}
						}
						if (status === 401) {
							this.$store.dispatch('getToken')
								.then(resp => {
									if (typeof resp.data == 'undefined') {
										this.$store.state.config.accessToken = resp.accessToken;
									} else if (typeof resp.data.accessToken != 'undefined') {
										this.$store.state.config.accessToken = resp.data.accessToken;
									}
									this.saveInteraccion();
								})
								.catch(error => {
									this.store.state.idEndPoint = 49;
									this.catchStatusAndMessage(error, {'tokenData':dbService.tokenData});
									this.monitoreo();
								});
						} else {
							this.$store.state.idEndPoint = 442;
							this.catchStatusAndMessage(error, jsonEcomerse);
							this.monitoreo();
						}
					});
      }
    },
	catchStatusAndMessage(error, data){
		this.$store.state.status = '';
		if (typeof error.status != "undefined") {
			this.$store.state.status = error.status;
		}
		else if (typeof error.response != "undefined") {
			if (typeof error.response.status != "undefined") {
				this.$store.state.status = error.response.status;
			}
		}
		if(typeof this.$store.state.status != 'number') {
			this.$store.state.status = 500;
		}
		this.$store.state.message = JSON.stringify({
			error: error,
			peticion: data,
		});
	},
    monitoreo: function() {
      monitoreoService
      .search(
          this.$store.state.idEndPoint,
          this.$store.state.status,
          this.$store.state.message,
          this.$store.state.config.idMedioDifusion,
          1, //verficiar este dato
          1, //verficiar este dato
          this.$store.state.config.accessToken
      )
      .then((respMonitoreo) => {
          console.log("Se ha reportado el fallo del servicio");
      })
      .catch((error) => {
          console.log("También falló el monitoreo");
      });
    }
  },
    };
</script>