<template>
  <div>
        <div class="msj text-center">
      <!-- NOMBRE -->
      <p><span style="color:#fff" >                Un asesor experto se comunicará contigo a la brevedad para
                asesorarte de forma gratuita.
</span></p>
      <!-- TELEFONO -->

    </div>
    </div>
</template>