<template>
    <div>
        <div class="text-center dinero mt-3">
            <!-- <div v-show="$store.state.formData.precio !== 0 && $store.state.formData.precio !== '' && $store.state.formData.precio !== null ">
               
            </div> -->
            <btn-tres-caminos></btn-tres-caminos>
        </div>

        <div class="rest">
            <!-- IMAGEN DE UN APERSONITA -->
           <!--  <img src="/img/icon/person.svg" alt="Call"> -->
            <!-- DATOS -->
           <!--  <p>
        <span>
          <b>{{$store.state.ejecutivo.nombre}}</b>
        </span> se pondrá en contacto contigo o llama al
                <a
                        :href="'tel:55'+$store.state.config.telefonoAS"
                ><b>55{{$store.state.config.telefonoAS}}</b></a>
            </p>
 -->
            <!-- TABLA -->
            <span>
        <b>Coberturas</b>
      </span>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Cobertura</th>
                        <th scope="col">Suma asegurada</th>
                        <th scope="col">Deducible</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item, index) in this.$store.state.cotizacion.Coberturas[0]" :key="index">
                        <td>{{item | showName}}</td>
                        <td>{{item | showSuma}}</td>
                        <td>{{item | showDeducible}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import btnTresCaminos from '~/components/utilities/botonesTresCaminos'
    export default {
        components:{
            btnTresCaminos
        },
        methods: { },
        filters: {
            showName: function (value) {
                return value.substring(
                    value.lastIndexOf("-N") + 2,
                    value.lastIndexOf("-S")
                );
            },
            showSuma: function (value) {
                let value_aux = value.substring(
                    value.lastIndexOf("-S") + 2,
                    value.lastIndexOf("-D")
                );
                if (value_aux.indexOf(".") !== -1) {
                    // Verifica si existe un punto en la suma
                    if (value_aux.indexOf(".") === 1) {
                        // Si el punto está en la posición 1 es V. Comercial y se sustituye por VALOR COMERCIAL
                        return "VALOR COMERCIAL";
                    } else if (value_aux.indexOf(".") !== value_aux.length - 2) {
                        // Quita los decimales de Banorte
                        return value_aux.substring(0, value_aux.indexOf("."));
                        //  + "\nPOR EVENTO"
                    }
                    value_aux = value.substring(
                        value.lastIndexOf("-S") + 2,
                        value.lastIndexOf("-D") - 2
                    ); // Quita los decimales de AFIRME
                }
                // Evita las palabras y los precios de GNP debido a que ya tienen el formato requerido
                if (!isNaN(parseInt(value_aux[0], 10)) && value_aux.indexOf("$") === -1) {
                    if (value_aux.indexOf(",") !== -1) {
                        // Evita los precios sin formato de comas
                        return "$ " + value_aux;
                    }
                    if (value_aux.length > 3) {
                        // Evita los montos que no son lo suficientemente largos para tener comas
                        if (value_aux.length / 3 > 1 && value_aux.length / 3 <= 2) {
                            // Se le agrega una coma
                            value_aux =
                                value_aux.substring(0, value_aux.length - 3) +
                                "," +
                                value_aux.substring(value_aux.length - 3, value_aux.length);
                        } else if (value_aux.length / 3 > 2 && value_aux.length / 3 <= 3) {
                            // Se le agrega dos comas
                            value_aux =
                                value_aux.substring(0, value_aux.length - 6) +
                                "," +
                                value_aux.substring(value_aux.length - 6, value_aux.length - 3) +
                                "," +
                                value_aux.substring(value_aux.length - 3, value_aux.length);
                        }
                    } else if (value_aux.length === 1) {
                        if (value_aux[0] === "1") {
                            // Cambia los 1's de MAPFRE por AMPARADA
                            return "AMPARADA";
                        } else if (value_aux[0] === "0") {
                            // Cambia los 0's por NO APLICA
                            return "NO APLICA";
                        }
                    }
                    return "$ " + value_aux; // Regresa los precios con el formato requerido
                }
                return value_aux.toString().toUpperCase(); // Regresa las palabras en   mayúsculas
            },
            showDeducible: function (value) {
                let value_aux = value.substring(
                    value.lastIndexOf("-D") + 2,
                    value.lastIndex
                );
                if (value_aux.indexOf(".") !== -1) {
                    // En caso de que haya decimales en el porcentaje
                    value_aux = value_aux.substring(0, value_aux.indexOf("."));
                    //   return value_aux + "%";
                }
                // ESTA VALIDACION ESTABA ANTES NO SE BIEN QUE HACIA PERO ESTABA
                // if (value_aux.indexOf(".") !== -1) {
                //   // En caso de que haya decimales en el porcentaje
                //   value_aux = value_aux.substring(0, value_aux.indexOf("."));
                //   return value_aux + "%";
                // }
                if (value_aux[0] !== "$" && !isNaN(parseInt(value_aux[1], 10))) {
                    // Evita todos los que son dinero y los que son palabras
                    if (value_aux.length > 3) {
                        if (
                            value_aux[0] === "0" &&
                            value_aux[1] === "0" &&
                            value_aux[2] === "0"
                        ) {
                            // Evita los tres ceros de Qualitas
                            value_aux = value.substring(
                                value.lastIndexOf("-D") + 5,
                                value.lastIndex
                            );
                            if (value_aux[0] === "0") {
                                // Si es cero se evita poner el signo de porcentaje
                                return "NO APLICA";
                            }
                            return value_aux + " %";
                        }
                    } else if (value_aux[value_aux.length - 1] === "%") {
                        // Evita colocar dos veces el signo de porcentaje
                        return value_aux;
                    } else {
                        return value_aux + " %";
                    }
                } else if (value_aux.length === 1) {
                    // Verifica si solo es un caracter
                    if (value_aux[0] === "0") {
                        // Si es cero se sustituye por NO APLICA
                        return "NO APLICA";
                    }
                    return value_aux + " %";
                } else if (value_aux.length === 0) {
                    // Sustituye los espacios en blanco por NO APLICA
                    return "NO APLICA";
                } else if (value_aux[0] !== "$") {
                    return value_aux.toString().toUpperCase();
                }
                return value_aux;
            }
        }
    };
</script>