#v2{width: 50%;}
.v2Head{width: 100%;}
.ibanner{width: auto; height: 85px;}
body{
  font-family: sans-serif;
  margin: 0;
  background: #fff;
}
p,li{
  color: #444;
}
td img{
  width: 17px !important;
}
.dauto {
  font-size: 22px;
  color: #6c757d;
  border-radius: 4px;
  text-decoration: underline #C10E2D;
  font-weight: 800;
  width: max-content;
  margin: auto;
  padding: 5px 10px;
}
#btnTrackingTelefono{font-size: 20px; width: 270px;}
#btnTrackingEcommerce{font-size: 20px;width: 270px;}
.txtgracias{text-align: center;color: #6c757d;}

h2, h3, h4, h5{
  color: #C10E2D;
  text-align: left;
}
a, a:hover{
  text-decoration: none
}
ul{
  list-style: none;
}
.navbar a img,.endCont img{
  width: 170px;
  margin: 3px 0;
}
.navbar span{
  color: #C10E2D;
  font-weight: bold;
}
.btnTel a img{
  width: 25px;
  margin: 0;
}
.btnTel a{
  font-size: 18px;  
  color: #C10E2D;
  border: 2px solid #C10E2D;
  padding: 3px 10px;
  margin: 0 5px 0 0;
}
.btnTel a:hover{
  color: #C10E2D;
}
.btnTel p{
  font-size: 12px;
  padding: 0;
  margin: 0 0 -5px 8px;
  color: #C10E2D;
}
.imgFondo {
  background-repeat: no-repeat;
  background-image: url(/img/asg/bg/bg.jpg);
  overflow: hidden;
  background-position: 100% 100%;
  background-size: cover;
  position: relative;
}

.txtForm {
  margin: auto;
  color: #FFF;
  text-align: center;
  font-size: 16px;
}

.form {
  padding: 4px 5px;    
}

.form select,
.form input {
  height: 52px;
  border-radius: 5px;
  border: none;
  padding: 0 5px;
  font-size: 1.2rem;
  box-shadow:0 3px 1px 0 rgb(0 0 0 / 20%)
}

.form select:focus,
.form input:focus {
  box-shadow: 0 0 0 3px #007bff;
}

.form select.is-invalid,
.form input.is-invalid {
  box-shadow: 0 0 0 2px #ff0000;
}

.checkBox {
  margin: auto;
  padding: 5px 0;
}

.checkBox label,
.checkBox b {
  color: #fff;
  font-size: 14px;
}
.check b {
  color: #556;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  margin-top: 0px;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
  margin-top: 0px;
}

.btnform {
  margin: 0;
  padding: 0 5px;
}

.btnform button {
  background: #00b62a;
  color: #fff;
  border-radius: 5px;
  width: 100%;
  font-size: 28px;
  padding: 5px 0;
  margin: 0 0 15px 0;
}

.btnform button:hover {
  color: #fff;
  background: #0a942a;
}
h1{
  /* font-size: 40px; */
  /* color: #C10E2D; */
  margin: 9% 0 0 0;
}
.txt p{
  margin: 1% 0 0 0;
  padding: 0 15px 3px 3px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  /* position: absolute; */
}
.txt #flecha{
  width: 180px;
  position: absolute;
  right: 2%;
  top: 45%;
}
.cont{
  margin-top: 1%;
  font-size: 18px;
  line-height: 1.8;
  text-align: center;
}
.cont p, .cont li{
  text-align: left;
}
.cont i, .cont b{
  color: #C10E2D;
}
.addCont span{
  font-size: 32px;
  color: #6E6158;
}
.addCont p{
  font-size: 18px;
  text-align: center;
}
.addCont img{
  width: 120px;
  margin: 4% 0 0 0;
}
li img{
  width: 17px;
}
hr{
  border-bottom: 3px solid #C10E2D;
  margin: 1% 0 0 15%;
  padding: 0;
  width: 70%;
}
.bgColor{
  background: #C10E2D;
  text-align: center;
  padding: 0 0 1% 0;
}
.bgColor h2, .bgColor p, .bgColor li, .bgColor i{
  text-align: left;
  color: #fff;
}
.bgColor img{
  width: 60px;
}

.endCont{
  background: #f8f8f8;
  text-align: center;
}
.endCont .navbar p, .endCont .navbar a{
  color: #C10E2D;
  font-size: 16px;
}
.endCont p, a{
  font-size: 10px;
  color: #b8b8b8;
  text-align: left;
}
.endCont p, a:hover{
  color: #b8b8b8;
}
.footer{
  background: #C10E2D;
  padding: 1% 0 0 0;
}
.footer a, .footer p, .footer span{
  color: #fff;
  font-size: 12px;
  text-align: center;
}
.botonTop{
  background: #C10E2D;
}
/* THANKS */
.txtVist{
  text-align: center;
}
.txtVist p{
  margin: 0;
}
.txtVist b{
  font-size: 36px;
  color: #6c757d;
  text-align: center;
}
.txtVist span{
  color: #fff;
  text-align: center;
  font-size: 22px;
}
.dinero p{
  color: #6c757d;
  font-size: 18px;
}

.dinero span{
  color: #c10e2d;
  font-size: 46px;
  font-weight: bold;
}
.dinero button{
  background: #00b62a;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
}
.dinero button:hover{
  background: #0a942a;
  color: #fff;
}
.rest{
  margin: 0 0 10px 0;
  padding: 10px;
  background: #fff;
  border-radius: 10px;
  text-align: center;
}
.rest span, .rest a{
  color: #C10E2D;
  font-size: 18px;
}
.rest img{
  width: 50px;
  margin: 0 0 15px 0;
}
.rest p{
  font-size: 16px;
  color: #556;
  background: #f1f1f1;
  border-radius: 5px;
  padding: 8px 0;
}
.rest b{
  color: #C10E2D;
}
.rest table{
  margin: 10px 0 0 0;
  text-align: left;
}
.rest th{
  padding: 2px 10px !important;
  background: #6E6158;
  color: #FFF;
}
.rest td{
  padding: 2px 10px !important;
  color: #444;
}
/* .table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 112, 240, 0.157);
} */
.sk-fading-circle .sk-circle:before {
  background-color: #ffffff;
}
.alertaColor {
  background-color: #C10E2D;
}
.adornoNormal{border:4px dotted #C10E2D;border-radius:6px;}
.colorNormal{background:#C10E2D;color:#fff;text-align:center;font-weight:bold;font-size:15px;margin-bottom:0;padding:0.5rem;border-radius:5px;}
/*Vista Desktop*/
.contenedorPromo{background:#fff;padding:5px;border-radius:6px;box-shadow:2px 2px 5px #bababa;max-width:500px;width:100%;height:auto;position: relative;}
.adornosPromo{border:4px dotted #ff0049;border-radius:6px;}
.labelPromo{position:absolute;    top: -8%;
  left: -5%;background:#C10E2D;color:#fff;border-radius:10px;padding:0px 12px;border:solid 2px;}
.descuentosPromo{background:#ff0049;color:#fff;text-align:center;font-weight:bold;font-size:1.3rem;margin-bottom:0;padding:0.5rem;border-radius:5px;}
.msiPromo{font-weight:bold;font-size:1.4rem;text-align:center;display:block;line-height:1;}
.labelendPromo{font-weight:500;font-size:0.8rem;text-align:center;display:block;text-transform:uppercase;}
.fichapro{
  margin: auto;
  width:536px;
}
.logo-promo {
  width: auto;
  height: 95px;
  margin-top: -17px;
  margin-left: -2px !important;
}
@media (min-width: 801px) and (max-width: 1100px) {
  .logo-promo {
    width: auto;
    height: 83px;
    margin-top: -14px;
    margin-left: -3px !important;
}
}
@media (min-width: 768px) and (max-width: 800px) {
  .logo-promo {
    width: auto;
    height: 80px;
    margin-top: -14px;
    margin-left: -5px !important;
}
  .txtForm{
    font-size: 16px;
  }
  #btnTrackingTelefono, #btnTrackingEcommerce{
    width: 320px;
  }

  h1{
    /* font-size: 36px; */
    margin: 15% 0 0 0;
  }
  .txt p{
    font-size: 24px;
  }
  .txt #flecha{
    width: 150px;
  }
  .cont{
    font-size: 15px;
  }
  h2, h3, h4, h5, h6{
    font-size: 24px;
  }
  .txtVist p{
    font-size: 26px;
  }
  .contenedorPromo p{
    font-size: 12px;
    padding: 9px;
  }
  h1{
    font-size: 28px;
  }
  .msiPromo{
    font-size: 17px;
  }
  .labelendPromo{
    font-size: 11px;
  }
  .imgLogo{
    width: 89px;
    margin: 8px 0;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .logotabla{display: none;}
  .logo-promo {
    width: auto;
    height: 80px;
    margin-top: -16px;
    margin-left: 12px !important;
}
  h1{font-size:30px}
  .cont, .endCont .navbar p, .endCont .navbar a{
    font-size: 15px;
  }
  h2, h3, h4, h5, h6, .addCont span, .txtVist b{
    font-size: 24px;
  }
  /* #btnTrackingTelefono, #btnTrackingEcommerce{
    width: 320px;
  } */
  .txtVist p, .rest span{
    font-size: 18px;
  }
  .rest th, .rest td{
    padding: 3px !important;
    font-size: 14px;
  }
}
@media (min-width: 376px) and (max-width: 480px) {
  .logo-promo {
    width: auto;
    height: 84px;
    margin-top: -15px;
    margin-left: 2px !important;
}

  h2, h3, h4, h5, h6, .addCont span, .txtVist b{
    font-size: 24px;
  }
  .logotabla{display: none;}
  .imgFondo{background-image: none; background-color: #C10E2D;}
  h1{font-size: 31px;}
  #btnTrackingTelefono, #btnTrackingEcommerce{
    width: 300px;
  }
  .txtVist p, .rest span{
    font-size: 18px;
  }
  .cont, .rest p, .rest a{
    font-size: 15px;
  }
  .endCont .navbar p, .endCont .navbar a{
    font-size: 14px;
    text-align: center;
  }
  .endCont .navbar{
    display: block;
  }
  .footer a, .footer p, .footer span{
    font-size: 11px;
  }
  .rest th, .rest td{
    padding: 3px !important;
    font-size: 14px;
  }
  .dinero button{
    font-size: 14px;
  }
  .contenedorPromo p{
    font-size: 15px;
    padding: 9px;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .logo-promo {
    width: auto;
    height: 83px;
    margin-top: -17px;
    margin-left: -6px !important;
}
  .btnform button {
    font-size: 24px;
  }
  .logotabla{display: none;}
  .imgFondo{background-image: none; background-color: #C10E2D;}

  h1{font-size: 27px;}
  .checkBox label, .checkBox b{
    font-size: 12px;
  }
  .contenedorPromo p{font-size: 18px;}
  #btnTrackingTelefono, #btnTrackingEcommerce{
    width: 250px;font-size: 16px;
  }
  .btnTel a{
    font-size: 16px;  
    padding: 1px 2px;
    margin: 0 1px 0 0;
  }
  .txtForm{
    font-size: 14px;
  }
  h2, h3, h4, h5, h6, .addCont span, .txtVist b{
    font-size: 24px;
  }
  .cont, .rest p, .rest a{
    font-size: 14px;
  }
  .endCont .navbar p, .endCont .navbar a{
    font-size: 13px;
    text-align: center;
  }
  .endCont .navbar{
    display: block;
  }
  .footer a, .footer p, .footer span{
    font-size: 11px;
  }
  .txtVist p, .rest span{
    font-size: 16px;
  }
  .rest th, .rest td{
    padding: 3px !important;
    font-size: 14px;
  }
  .dinero p{
    font-size: 12px;
  }
  .dinero span{
    font-size: 30px;
  }
  .dinero button{
    font-size: 12px;
  }
  .contenedorPromo p{
    font-size: 12px;
    padding: 10px;
  }
  .imgLogo {
    width: 72px;
    margin: 9px 0;
}
}
@media (min-width: 240px) and (max-width: 320px){
  .addCont span {
    font-size: 1.5rem;
}
  .navbar a img, .endCont img {
    width: 148px;
    margin: 3px 0;
}
  .logo-promo {
    width: auto;
    height: 70px;
    margin-top: -11px;
    margin-left: -8px !important;
}
  .imgLogo{
    width: 72px;
    margin: 19px 0;
  }
  .logotabla{display: none;}
  .dauto{font-size: 16px}
  .imgFondo{background-image: none; background-color: #C10E2D;}

  #btnTrackingTelefono, #btnTrackingEcommerce{
    width: 250px;font-size: 16px;
  }
  .btnTel a {
    font-size: 12px;
    color: #C10E2D;
    border: 2px solid #C10E2D;
    padding: 3px 10px;
    margin: 0 5px 0 0;
  }
  .btnTel a img {
    width: 15px;
    margin: 0;
  }
  .contenedorPromo p{
    font-size: 0.6rem;
    padding: 8px;
  }
  .msiPromo{
    font-size: 0.9rem;
  }
  .labelendPromo{
    font-size: 0.6rem;
  }
  h1{font-size: 23px;}
  .txtForm{
    font-size: 12px;
  }
  .labelPromo{
    font-size: 11px;
  }
}


/*Vista mobile*/
@media (min-width: 240px) and (max-width: 520px) {  
.labelPromo{position:absolute;    top: -12%;
  left: -5%;background:#C10E2D;color:#fff;border-radius:10px;padding:0px 12px;border: solid 2px}
.descuentosPromo{background:#ff0049;color:#fff;text-align:center;font-weight:bold;font-size:1rem;margin-bottom:0;padding:0.3rem 0.2rem;border-radius:5px;}
.msiPromo{font-weight:bold;font-size:1rem;text-align:center;display:block;line-height:1;}
.labelendPromo{font-weight:500;font-size:0.6rem;text-align:center;display:block;text-transform:uppercase;}
.dauto{font-size: 1.1rem;}
}