<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-xl-10 offset-xl-1 p-0">
        <div class="navbar m-0 p-0">
          <!-- LOGO -->
          <a href="/">
            <img id="logo" :src="'/img/asg/logo/'+$store.state.config.img" width="170" height="63" :alt="$store.state.config.asgNombre" />
          </a>
          <span class="d-none d-md-block">¡ COTIZA EN 5 SEGUNDOS !</span>
          <!-- BTN TEL -->
          <div class="btnTel">
            <a id="idTelDID" :href="'tel:55'+$store.state.config.telefonoAS" class="btn">
              <p>LLAMA GRATIS</p>
              <img src="/img/telp.svg" width="25" height="25" alt="Tel" />
              <b> (55) {{$store.state.config.telefonoAS}}</b>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  created: function() {
    //POR ASEGURADORA
    this.$store.state.config.aseguradora = "ELPOTOSI";
    this.$store.state.config.grupoCallback = 'VN MULTIMARCAS';
    this.$store.state.config.from = 'DOMINIO-ELPOTOSI';
    this.$store.state.config.idCampana = 73;
    this.$store.state.config.idSubRamo = 33;
    this.$store.state.config.asgNombre = "Seguro de Auto El Potosí"; //NOMBRE DE LA ASEGURADORA EN LA VISTA
    this.$store.state.config.img = "potosi.svg"; // HEADER, CARD, FOOTER
    this.$store.state.config.titulo = "Seguro de Auto El Potosí"; // INDEX
    this.$store.state.config.parrafo = " "; //CONTENIDO AGREGADO A LA PROMO EN H1
    this.$store.state.config.alert = false; //CAMBIA DE ALERTA DEFAULT A PROMO
    this.$store.state.config.promo = " ";
    this.$store.state.config.adic = " ";
    this.$store.state.config.dominio = "seguroselpotosi.mx";
    this.$store.state.config.domV2 = "potosiseguros.mx";
    this.$store.state.config.domV3 = "segurospotosiautos.mx";
    this.$store.state.config.k1 = "El Potosí";
    this.$store.state.config.k2 = "El Potosí Seguros";
    this.$store.state.config.k3 = "Seguros de autos el Potosí";
    this.$store.state.config.k4 = "Seguros el potosí Querétaro";
    this.$store.state.config.k5 = " ";
    this.$store.state.config.k6 = " ";
    this.$store.state.config.k7 = " ";
    this.$store.state.config.k8 = " ";
    this.$store.state.config.k9 = " ";
  }
};
</script>