<template>
    <no-ssr>
        <div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 imgFondo">
                        <div class="row">
                      <!-- TEXT PRINCIPAL -->
                    <div class="col-xl-5 mx-auto col-md-6 col-12 d-md-block p-0">
                      <div class="col-12 text-center text-white"><h1>{{$store.state.config.titulo}}</h1></div>
                      <cardpromo></cardpromo>
                            <img alt="promo" src="/img/icon/vb.svg" class="mt-5 d-none d-md-block" id="v2">
                    </div>
             
                            <!-- FORM -->
                            <div class="col-xl-5 mx-auto col-md-6 col-sm-12">
                                <formulario :config="this.$store.state.config"/>
                                <div class="col-8 offset-2 d-md-none">
                                    <img class="v2Head" src="/img/icon/vb.svg" alt="promo"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </no-ssr>
</template>
<script>
    import formulario from "~/components/forms/newAutosForm.vue";
    import cardpromo from "~/components/alerta/alerta.vue";
    import getInsurerPromo from "~/plugins/promoData.js"; 
import telefonoService from "~/plugins/telefonoService.js";


    export default {
        layout: "index",
        components: {
            formulario,
            cardpromo
        },
        beforeCreate () {
            this.$store.state.config.cotizacion  = false;
            this.$store.state.config.emision = true;
            this.$store.state.config.interaccion = true;
            this.$store.state.config.dominioCorreo = "AUTOS|ELPOTOSI|seguroselpotosi-mx"
            this.$store.state.config.textoSMS = "Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.";
            this.$store.state.config.idPagina = 169;
            this.$store.state.config.idSubRamo = 33;
            this.$store.state.config.idMedioDifusion = 2115;
            this.$store.state.config.idMedioDifusionInteraccion = 2979;
            this.$store.state.config.idMedioDifusionEcommerce = 2978;
            this.$store.state.config.urlRedireccion ='/email/thank-you';

            this.$store.state.config.clase2="col-4 col-md-4 col-lg-4"
      this.$store.state.config.clase3="col-4  col-md-8 col-lg-8 my-auto"
      this.$store.state.config.clase1="adornoNormal"
      this.$store.state.config.colorPromo="colorNormal"
        },
        async created() {     try {
      const telefono = await telefonoService(
        this.$store.state.config.idMedioDifusion
      )
 
      if(parseInt(telefono.data.telefono)){
        var tel = telefono.data.telefono +""
        var tel2= tel.substring(2,tel.length)
        console.log(tel2);
        this.$store.state.config.telefonoAS = tel2
      }else{
        console.log( telefono.data.telefono)
      }	
    } catch (error) {
      console.log(error);
    }

    try {
      // Traemos la promoción especifica de la aseguradora para este dominio.
      const insurer = await getInsurerPromo(
        this.$store.state.config.aseguradora
      );

      // Establecemos el porcentaje y meses sin intereses.
      this.$store.state.config.desc = insurer.promo.dto;
      this.$store.state.config.msi = insurer.promo.msi;

      this.$store.state.config.promoLabel = insurer.promo.label;
      this.$store.state.config.extraMsg = insurer.promo.extraMsg;

      // La promo es especial?
      this.$store.state.config.promoSpecial = insurer.promo.isSpecial;

      // Imagen para la promoción especial.
      this.$store.state.config.promoImg = insurer.promo.urlImg;

      /* Descomentar cuando la API mande estos valores
			y borrar los de abajo.

			store.state.config.cotizacion = insurer.quote;
			store.state.config.telefonoAS = insurer.phone;
			store.state.config.telefonoBtn = insurer.phone;

			*/

      // Si se trata de una promoción especial aplicamos los estilos necesarios
      // a el recuadro.
      if (insurer.promo.isSpecial) {
        this.$store.state.config.clase1 = "adornosPromo";
        this.$store.state.config.clase2 ="col-5 col-sm-5 col-md-5 col-lg-3 d-none d-lg-block";
        this.$store.state.config.clase3 ="col-7 col-sm-7 col-md-8 col-lg-6 my-auto";
        this.$store.state.config.colorPromo="descuentosPromo"
      }
    } catch (err) {
      console.log(err);
    }
  },
        head() {
            return {
                title: 'Seguros el Potosí – Cotiza el Mejor Seguro de auto el Potosí',
                meta: [
                    {
                        hid: "keywords",
                        name: "keywords",
                        content:
                            "Seguros el Potosí, El Potosí, El Potosí Seguros, Seguros de autos el Potosí, Seguros el potosí Querétaro"
                    },
                    {
                        hid: "description",
                        name: "description",
                        content:
                            "Cotiza al mejor precio Seguros el Potosí. Protege tu auto, ya que con el Mejor Seguro de Auto tenemos las mejores coberturas en Seguros de auto el Potosí."
                    },
                    {hid: "robots", name: "robots", content: "index, follow"},
                    {
                        hid: "author",
                        name: "author",
                        content: "seguroselpotosi.mx"
                    },
                    {
                        hid: "sitemap",
                        rel: "sitemap",
                        type: "application/xml",
                        title: "sitemap",
                        href: "sitemap.xml"
                    },
                    {
                        hid: "canonical",
                        rel: "canonical",
                        href: "https://seguroselpotosi.mx/email"
                    }
                ]
            };
        }
    };
</script>