<template>
  <div id="botonTop">
    <Header />
    <Modal />
    <Btn />
    <div class="seguroselpotosi.mx -- VERSION 1"></div>
    <nuxt />
    <Footer />
  </div>
</template>
<script>
import Header from "~/components/common/Header.vue";
import Modal from "~/components/utilities/modal.vue";
import Btn from "~/components/common/btnTop.vue";
import Footer from "~/components/common/Footer.vue";
export default {
  components: {
    Header,
    Modal,
    Btn,
    Footer
  }
};
</script>
