<template>
  <div class="contenedorPromo m-auto">
          <div class="container-fluid p-0 m-0" :class="this.$store.state.config.clase1">
            <div class="row pb-1 px-2 p-3 m-0">
              <div class="text-center my-auto" :class="this.$store.state.config.clase2">
                <img
                  src="/img/el-potosilogo.svg"
                  alt="Logo Aseguradora"
                  class="imgPromociones img-fluid"
                  width="100"
                  height="80"
                />
              </div>
              <div class="col-4 col-sm-4 col-md-4 col-lg-3 my-auto" v-show="this.$store.state.config.promoSpecial"
              >
                <img
                  :src="this.$store.state.config.promoImg"
                  alt="logo promocion"
                  class="ms-lg-2 ms-md-2 ms-3 logo-promo"
                  width="70"
                  height="40"
                />
              </div>
              <div class="col-8 col-sm-7 col-md-8 col-lg-6 my-auto" style="position:relative" :class="this.$store.state.config.clase3">
                <small class="labelPromo"
                  >{{ this.$store.state.config.promoLabel }}
                </small>
                <p :class="this.$store.state.config.colorPromo">
                  {{ this.$store.state.config.desc }}
                </p>
                <small class="msiPromo">{{
                  this.$store.state.config.msi
                }}</small>
                
                <small class="labelendPromo"> Meses Sin intereses</small>
                <small class="labelendPromo">{{this.$store.state.config.extraMsg}}</small>
              </div>
              
            </div>
          </div>
        </div>
</template>
<script> 

</script>
