<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 cont pl-lg-1 pr-3 pr-xl-3">
        <div class="row">
          <div class="col-xl-10 col-12 offset-xl-1">
            <Contenido />
          </div>
        </div>
        <!-- -->
        <section>
          <div class="row bgColor">
            <div class="col-xl-10 offset-xl-1">
              <div class="col-12">
                <div class="tri"></div>
              </div>
              <h2>Seguros El Potosí te protege a donde sea que vayas!</h2>
              <ul>
              <li>
                 Empresa 100% mexicana de seguros
              </li>
              <li>
                 Más de 70 años protegiendo a familias y empresas
              </li>
              <li>
                 20 oficinas a lo largo de toda la República
              </li>
              </ul>
              
        <p>¿Estás buscando la mejor opción de protección para tu coche a los mejores precios en México? ¿Necesitas una cobertura total en todo el país y ante todo riesgo? En ese caso los Seguros El Potosí son justo lo que estás buscando.</p>

        <p>Con más de 70 años de experiencia en el sector asegurador y con el mejor prestigio y solidez financiera, esta aseguradora garantiza la protección tuya, de tu coche y tus acompañantes ante todo tipo de siniestros o situaciones imprevistas que pueden presentarse.</p>

        <p>En la actualidad, El Potosí compañía de seguros ofrece todo tipo de seguros indispensables para las familias mexicanas, como seguros de vida, viajes, casa, pymes y autos.</p>

        <p>Estos últimos sin duda son de los más reconocidos en el país, pues cuentan con más de 5 tipos de coberturas distintas, con las cuales aseguran que siempre encontrarás un seguro que se adapte justo a tus necesidades y presupuesto.</p>

            </div>
          </div>
        </section>
        <!-- -->
        <section>
          <div class="col-xl-10 offset-xl-1 p-0 table-responsive">
            <h2>¡Compara los paquetes de los Seguros de Autos El Potosí!</h2>
           <div >
                <table >
                  <thead>
                    <tr>
                      <th scope="col">COBERTURAS</th>
                      <th scope="col">AMPLIA TOTAL</th>
                      <th scope="col">AMPLIA MÁS</th>
                      <th scope="col">AMPLIA</th>
                      <th scope="col">LIMITADA</th>
                      <th scope="col">BÁSICA</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Daños materiales</th>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">Excención de deducible por pérdida total</th>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      </tr>
                      <tr>
                     <th scope="row">Robo total</th>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td></td>
                      </tr>
                      <tr>
                      <th scope="row">Robo parcial</th>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      </tr>
                      <tr>
                       <th scope="row">Responsabilidad civil</th>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      </tr>
                      <tr>
                       <th scope="row">Gastos médicos ocupantes</th>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      </tr>

                      <tr> <th scope="row">Asesoría y defensa legal</th>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      </tr>

                      <tr> <th scope="row">Asistencia en viajes y auxilia vial</th>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td></td>
                      </tr>

                      <tr> <th scope="row">Multas y corralones</th>
                     <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      </tr>

                      <tr> <th scope="row">Muerte accidental al conductor</th>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td></td>
                      </tr>

                      <tr> <th scope="row">Pérdidas orgánicas al conductor</th>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td></td>
                      </tr>
                      <tr> <th scope="row">Responsabilidad civil ocupantes</th>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      </tr>

                      <tr> <th scope="row">Responsabilidad civil familiar</th>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td></td>
                      <td></td>
                      </tr>

                      <tr><th scope="row">Responsabilidad civil en exceso por fallecimiento de terceros</th>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      </tr>

                      <tr><th scope="row">Extensión de gastos médicos para cirugía estética reconstructiva</th>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      </tr>

                      <tr><th scope="row">Reembolso de gastos médicos familiar</th>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      </tr>
                      <tr>
                      <th >Vida</th>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/check.svg" width="17" height="17"  alt="check" />&nbsp;</td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
           </div>


          </div>
        </section>
        <!-- -->
        <section>
          <div class="col-xl-10 offset-xl-1">
            <h2>¿Cuáles son los beneficios que Seguros El Potosí te otorga?</h2>
          <p>Los Seguros de Autos El Potosí, además de contar con la mayor variedad de pólizas de auto en México también ofrecen una serie de beneficios adicionales en pro de tu seguridad y economía:</p>

                <ul>
                  <li>
                    <img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;Cobertura en toda la República Mexicana y el extranjero (E.U. y Canadá).
                  </li>
                   <li>
                    <img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;Red propia de ajustadores y centros de atención en todo el país
                  </li>
                   <li>
                    <img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;Red propia de ajustadores y centros de atención en todo el país
                  </li>
                   <li>
                    <img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;Descuentos de hasta el 20%
                    </li>
                   <li>
                    <img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;Puedes elegir entre 5 paquetes de aseguramiento.
                  </li>
                   <li>
                    <img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;>6 y 12 meses sin intereses
                  </li>
                   <li>
                    <img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;Cobertura de Responsabilidad Civil Familiar para asegurar a todos tus seres queridos durante tus viajes
                  </li>
                   <li>
                    <img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;Talleres mecánicos certificados en todo el país para las reparaciones de tu auto a manos de profesionales.
                  </li>
                   <li>
                    <img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;Respaldo de los daños a terceros que puedas llegar a provocar con tu vehículo.
                  </li>
                   <li>
                    <img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;Gastos médicos al conductor y a sus acompañantes cubiertos en caso de que resulten heridos por un choque o volcadura
                  </li>
                  <li>
                    <img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;Asistencia vial sin límite de eventos en caso de falla mecánica o emergencia en viajes.
                  </li>
                </ul>

                <h2>¿Qué coberturas del Seguro de Auto El Potosí necesitas?</h2>

                <p>Seguros El Potosí entiende que hoy en día las necesidades, exigencias y presupuestos de los mexicanos son muy variados, por lo que para adaptarse a absolutamente todo público se ha enfocado en crear todo tipo de paquetes de protección.</p>
                <p>Sin embargo, al tener tantas opciones en ocasiones los conductores pueden llegar a tener dudas sobre cuál coberturas es la más adecuada para su auto y su seguridad.</p>
                <p>Por ello en Seguroselpotosi.mx te ayudamos a elegir el seguro que mejor se adapte a ti:</p>
                
                  <ul>
                    <li><strong>Cobertura amplia total:</strong>
                    Se trata del paquete más completo ante todo riesgo que ofrece la Aseguradora El Potosí, ya que brinda todo tipo de coberturas enfocadas en la protección del coche, conductor y acompañantes. Este seguro incluye reembolso de gastos médicos para el conductor, cónyuge y para sus hijos menores de 24 años.
                    </li>
                    <li><strong>Cobertura amplia más:</strong> Es la cobertura ideal para quienes buscan una opción avanzada de aseguramiento, pues además de las coberturas básicas este seguro cuenta con la asistencia de cirugía reconstructiva por un monto de $100,000 sin deducible en caso de accidente.
                    </li>
                    <li><strong>Cobertura amplia</strong>Se trata de una de las coberturas más preferidas por los clientes, ya que ofrece una protección bastante completa ante daños materiales y pérdida total a un costo bastante accesible.
                    </li>
                    <li><strong>Cobertura límitada</strong>Esta es una de las mejores opciones si lo que necesitas es ahorrar mientras obtienes grandes coberturas, como protección ante robo total, responsabilidad civil familiar y gastos médicos y funerarios hasta por $500,000.
                    </li>
                    <li><strong>Cobertura Básica:</strong>Esta es la cobertura más económica y básica de El Potosí Compañía de Seguros, con la cual podrás cumplir con el requisito obligatorio del seguro de responsabilidad civil, además de contar con defensa legal, asistencia en viajes y auxilio vial.
                    </li>
                  </ul>

                  <h2>¿Cuáles son los requisitos para contratar mi Seguro de Auto de El Potosí?</h2>
                  <p>Para contratar tu póliza de seguro de auto con esta aseguradora únicamente necesitas unos simples documentos:</p>
                  
                  <ul>
                    <li>
                    <img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;Nombre completo del titular o conductor principal.
                  </li>
                  <li>
                    <img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;RFC
                  </li>
                  <li>
                    <img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;Identificación oficial vigente.
                  </li>
                  <li>
                    <img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;Comprobante de domicilio.
                  </li>
                  <li>
                    <img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;Código postal.
                  </li>
                  <li>
                    <img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;Teléfono de contacto.
                  </li>
                  <li>
                    <img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;Correo electrónico.
                  </li>
                  <li>
                    <img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;Licencia de conducir vigente.
                  </li>
                  <li>
                    <img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;Ser mayor de edad (más de 18 años). 
                  </li>
                  </ul>
                  <p>Por otra parte, los datos necesarios de tu coche son:</p>
                  <ul>
                    
                    <li><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;Marca.</li> 
                    <li><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;Modelo.</li>
                    <li><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;Año.</li>
                    <li><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;Versión. </li>
                    <li><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;Número de serie. </li>
                    <li><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;Número de serie de motor. </li>
                    <li><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;Placas. </li>
                    <li><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;Tarjeta de circulación. </li>
                    <li><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;Descripción general.</li>

                  </ul>

              <h2>¿Cuánto cuesta el Seguro para Auto El Potosí?</h2>
            <p>Las pólizas de seguros de autos de El Potosí, así como en cualquier otra aseguradora, tienen precios completamente personalizados que se calculan con base en las necesidades del conductor, su tipo de vehículo y los riesgos a los cuales se encuentra vulnerable.</p>

            <p>Para esto se toman en cuenta los siguientes criterios:</p>
            <ul>
              <li><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;Edad del conductor</li>
              <li><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;Sexo</li>
              <li><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;Modelo de auto</li>
              <li><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;Tipo de uso</li>
              <li><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;Cobertura seleccionada</li>
              <li><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;Lugar de domicilio</li>
              <li><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;Estado civil</li>
              <li><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;Forma de pago y financiamiento</li>
              </ul>
            
            <p>A pesar de que no existe un precio establecido exacto podemos mencionar que los costos promedios de las primas anuales están entre $3,785 y $10,401, lo que los coloca también entre los seguros más económicos en el mercado.</p>
          
          <h2>¿Qué hacer en caso de siniestro automovilístico?</h2>

          <p>Una vez que tenemos nuestra póliza de seguro de auto también es de suma importancia saber cómo utilizarla y cómo es que podemos reportar a la aseguradora cualquier tipo de siniestro o incidencia que se llegue a presentar.</p>

          <p>Si llegas a sufrir cualquier tipo de accidente es importante que sigas los siguientes pasos para evitar riesgos y que el seguro se haga completamente válido:</p>

              <ul>
              <li>Conserva la calma y asegúrate de que todos tus acompañantes se encuentren bien. Si existe algún peligro retirense del lugar pero sí es seguro lo mejor será que permanezcan en el coche.</li> 
              <li>Comunicate inmediatamente con Seguros El Potosí para reportar el siniestro, si hay alguien herido solicita la asistencia médica o una ambulancia al asesor. <li>
              <li>Si hay alguna fuga de combustible, incendio o derrame peligroso, indicalo al ajustador para que llame a los cuerpos de emergencia y retírate del lugar.</li>
              <li>Indica el lugar dónde te encuentras o comparte tu geolocalización a Seguros El Potosí Agentes por medio de la app. </li>
              <li>Los ajustadores no tardan más de 30 minutos en acudir al lugar, durante este tiempo no hagas ningún tipo de trato personal con otras personas ni aceptes responsabilidad alguna. </li>
              <li>El ajustador al llegar al lugar será el encargado de determinar la responsabilidad de los implicados, por ello es importante que trates de mover lo menos posible el vehículo y las partes que se desprendan de él.</li>
              <li>Una vez evaluada la situación será el ajustador quien emita las órdenes de pago correspondientes para la reparación de los daños, ya sea para ti o para terceros. </li>
              </ul>
          <h2>¿Qué otros seguros ofrece El Potosí?</h2>

      <p>La Compañía de Seguros El Potosí conoce a la perfección las necesidades y exigencias de las familias mexicanas hoy en día, por lo que sus productos no sólo se limitan a los seguros de autos, sino que abarcan los campos de:</p>

          <ul>
          <li><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;Vida Individual</li>
          <li><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;Vida Grupo</li>
          <li><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;Accidentes Personales</li>
          <li><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;Casa</li>
          <li><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;PyME</li>
          <li><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;Seguros para Gasolinera</li>
          <li><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;Incendio</li>
          <li><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;Seguros para Transporte</li>
          <li><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;Responsabilidad Civil</li>
          <li><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;Responsabilidad Civil Guardería</li>
          <li><img src="/img/icon/check.svg" width="17" height="17" alt="check" />&nbsp;Casa con Negocio</li>
          </ul>

      <h2>Conoce más sobre Seguros El Potosí en México</h2>

      <p>Son una aseguradora 100% mexicana con más de 70 años de trayectoria en el país protegiendo lo más importante y valioso para cada persona, familia y empresa.</p>

      <p>Los caracteriza la constante actualización e innovación de sus productos, los cuales se mantienen al día para ayudar a las personas a enfrentar los retos y amenazas que pueden afectarlos inesperadamente en cualquier lugar y momento.</p>

      <p>En todo momento se enfocan en trabajar bajo los más estrictos principios de ética, responsabilidad y profesionalismo para atenderte de la mejor manera y resolver juntos los problemas que se presenten hoy y mañana.</p>

      <p>Por todo esto es que es considerada una de las mejores y más prestigiosas compañías aseguradoras en el país con la cual sin duda encontrarás un seguro adecuado a lo que necesitas.</p>

      <h2>¡Cotiza al mejor precio en Seguroselpotosi.mx!</h2>

      <p>Sólo con Seguroselpotosi.mx podrás cotizar, comparar y contratar en un sólo lugar el mejor seguro de auto de El Potosí.</p>

      <p>Haz la prueba ahora, el proceso es fácil, rápido y seguro, además de que podrás obtener todo tipo de beneficios adicionales, como ofertas, descuentos y promociones exclusivas todo el año.</p>


          </div>
        </section>
        <!-- -->
        <section>
          <div class="col-xl-10 offset-xl-1">
            <h3><strong>Preguntas Frecuentes</strong></h3>
            <p><strong>¿Cuál es el número de Seguros El Potosí?</strong></p>
            <p>El número para reportar un siniestro o solicitar cualquier servicio es el 01 800 480 3100</p>

            <p><strong>¿Dónde se encuentra el corporativo de El Potosí Seguros?</strong></p>
            <p>Av. Dr. Manuel Nava 200-A, Lomas los Filtros, 78210 San Luis, S.L.P.</p>
            <p>+52 444 834 9000</p>

            <p><strong>¿Cómo renovar el seguro de auto?</strong></p>
            <p>La mayoría de las pólizas cuentan con renovación automática para que no te quedes sin seguro en caso de que olvides realizar la renovación, sin embargo, si no deseas renovar o quieres hacer un cambio comunícate por lo menos 30 días antes de la fecha de vigencia.</p>

            <p><strong>¿Cómo pagar mi seguro de auto?</strong></p>
            <p>Puedes hacer el pago con tarjeta de crédito, débito, depósito, en efectivo o dejar domiciliada una tarjeta.</p>
          </div>
        </section>
        <!--  -->
      </div>
    </div>
  </div>
</template>
<script>
import Contenido from "~/components/utilities/addCont.vue";
export default {
  components: {
    Contenido
  }
};
</script>