<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 cont pl-1 pr-3 pr-xl-3">
        <div class="row">
          <div class="col-xl-10 col-12 offset-xl-1">
            <Contenido />
          </div>
        </div>
        <!-- -->
        <section>
          <div class="row bgColor">
            <div class="col-xl-10 offset-xl-1">
              <div class="col-12">
                <div class="tri"></div>
              </div>
              <h2>¡No dudes en Cotizar Seguro de Auto con El Potosí!</h2>
              <p>Sabemos que tu protección, la de tu familia y tu vehículo son muy importantes para ti, por ello te hablaremos de la importancia de Cotizar Seguro de Auto con El Potosí, una de las aseguradoras más confiables en la República Mexicana.</p>
              <p>Seguros El Potosí te puede amparar ante cualquier imprevisto que te ocurra mientras conduces o dejas aparcado tu vehículo, ya sea en México o en el extranjero.</p>
              <p>El Potosí cuenta con más de 60 años de experiencia que nos respaldan y nos hace comprender todos los riesgos a los que te puedes encontrar expuesto en las calles, por lo que diseñamos planes únicos con los que podrás estar protegido de la mejor forma posible.</p>
              <p>Conoce todos los beneficios que puedes obtener con El Potosí Seguros y comienza a Cotizar Seguro de Auto con nosotros, para que desde el primer minuto permanezcas protegido por una de las mejores compañías de seguros en México.</p>
            </div>
          </div>
        </section>
        <!-- -->
        <section>
          <div class="col-xl-10 offset-xl-1 p-0">
            <h2>Las mejores coberturas con el Seguro de Auto de El Potosí</h2>
            <p>Con el único propósito de cuidar de ti y tu auto, contamos con las mejores coberturas que te respaldarán ante diversas situaciones y puedas conducir tranquilo.</p>
            <p>Puedes Cotizar Seguro de Auto y vivir la experiencia de estar respaldado con Seguros El Potosí.</p>
            <ul>
              <li><img src="/img/icon/check.svg" alt="check" />&nbsp;Cobertura Básica: Contarás con Responsabilidad Civil y gastos médicos a ocupantes.</li>
              <li><img src="/img/icon/check.svg" alt="check" />&nbsp;Cobertura Básica Más: Incluye lo anterior, además de protección en caso de robo o pérdida total.</li>
              <li><img src="/img/icon/check.svg" alt="check" />&nbsp;Cobertura Amplia: Cuenta con todos los beneficios de las coberturas anteriores, pero además tú vehículo estará protegido en caso de daños materiales a terceros.</li>
              <li><img src="/img/icon/check.svg" alt="check" />&nbsp;Cobertura Amplia Más: Mayor suma asegurada en Responsabilidad Civil, así como gastos de transporte y en caso de ser necesaria, una cirugía estética reconstructiva.</li>
              <li><img src="/img/icon/check.svg" alt="check" />&nbsp;Cobertura Amplia Total: Máxima cobertura, que también te da una extensión de deducible por pérdida total, y seguro familiar por accidentes.</li>
            </ul>
            <p>No tardes en Cotizar Seguro de Auto con El Potosí para que puedas permanecer respaldado en todo momento y conduzcas con tranquilidad.</p>
          </div>
        </section>
        <!-- -->
        <section>
          <div class="col-xl-10 offset-xl-1 p-0">
            <h2>Obtén beneficios exclusivos con Seguro de Auto El Potosí</h2>
            <p>En Seguros El Potosí nos preocupamos por tu bienestar, por ello, nuestro Seguro de Auto te otorga beneficios exclusivos para que puedas dejar en nuestras manos toda tu confianza y tranquilidad.</p>
            <ul>
              <li><img src="/img/icon/check.svg" alt="check" />&nbsp;&nbsp;Talleres certificados en todo México para apoyarte con reparaciones en caso de accidentes o problemas mecánicos.</li>
              <li><img src="/img/icon/check.svg" alt="check" />&nbsp;&nbsp;Respaldo por daños a terceros en sus bienes o personas.</li>
              <li><img src="/img/icon/check.svg" alt="check" />&nbsp;&nbsp;Gastos médicos para el conductor y los ocupantes.</li>
              <li><img src="/img/icon/check.svg" alt="check" />&nbsp;&nbsp;Asistencia vial con eventos ilimitados en servicios como grúa, envío de gasolina, etc.</li>
            </ul>
            <p>Cotizar Seguro de Auto con El Potosí es muy sencillo, solo debes tener a la mano datos básicos y en minutos estarás contratando tu Seguro para Auto.</p>
          </div>
        </section>
        <!-- -->
        <section>
          <div class="col-xl-10 offset-xl-1 p-0">
            <h3>¡Cotizar Seguro de Auto con El Potosí es tu mejor opción!</h3>
            <p>Si buscas Cotizar Seguro de Auto, El Potosí es la mejor opción para ti, ya que estarás respaldado con una de las mejores aseguradoras de la República Mexicana, que además te ofrece múltiples ventajas.</p>
            <p>Aventúrate a Cotizar Seguro de Auto con El Potosí Seguros y descubre todos los beneficios que puedes obtener, además de estar siempre protegido al conducir o aparcar tu vehículo.</p>
          </div>
        </section>
        <!--  -->
      </div>
    </div>
  </div>
</template>
<script>
import Contenido from "~/components/utilities/addCont.vue";
export default {
  components: {
    Contenido
  }
};
</script>