<template>
  <no-ssr>
    <form
      id="formcotizar"
      class="pe-lg-5"
      method="POST"
      action
      novalidate
      @submit.prevent="validateBeforeSubmit('formcotizar')"
    >
      <p class="text-center my-1 mt-md-3 text-white">
        Ingresa los datos de tu auto para cotizar en segundos
      </p>
      <div class="row">
        <!-- MARCA -->
        <div class="col-12 col-md-6 form">
          <select
            title="marca"
            name="marca"
            id="marca"
            required=""
            class="form-control form-select"
            v-model="$store.state.formData.marca"
            @change="getModelos(), myFocus('modelo'), warningReq('marcaReq')"
          >
            <option value>Selecciona Marca</option>
            <option v-for="marca in formData.marcas" v-bind:key="marca.text">
              {{ marca.text }}
            </option>
          </select>
          <small style="display: none; color: #fff" class="marcaReq"
            ><span>El campo marca es requerido</span></small
          >
        </div>
        <!-- MODELO -->
        <div class="col-12 col-md-6 form">
          <select
            title="modelo"
            name="modelo"
            id="modelo"
            required=""
            v-model="$store.state.formData.modelo"
            class="form-control form-select"
            @change="
              getDescripciones(),
                myFocus('descripcion'),
                warningReq('modeloReq')
            "
          >
            <option value>Selecciona Modelo</option>
            <option v-for="modelo in formData.modelos" v-bind:key="modelo.text">
              {{ modelo.text }}
            </option>
          </select>
          <small style="display: none; color: #fff" class="modeloReq"
            ><span>El campo modelo es requerido</span></small
          >
        </div>
      </div>

      <div class="row">
        <!-- DESCRIPCION -->
        <div class="col-12 col-md-6 form">
          <select
            style="overflow: hidden; width: 100%"
            title="descripcion"
            name="descripcion"
            id="descripcion"
            v-model="$store.state.formData.descripcion"
            required=""
            class="form-control form-select"
            @change="
              getSubDescripciones(),
                myFocus('detalle'),
                warningReq('descripcionReq')
            "
          >
            <option value>Selecciona Submarca</option>
            <option
              v-for="descripcion in formData.descripciones"
              v-bind:key="descripcion.text"
            >
              {{ descripcion.text }}
            </option>
          </select>
          <small style="display: none; color: #fff" class="descripcionReq"
            ><span>El campo Submarca es requerido</span></small
          >
        </div>

        <!-- SUBDESCRIPCION -->
        <div class="col-12 col-md-6 form">
          <select
            style="overflow: hidden; width: 100%"
            title="detalle"
            name="detalle"
            id="detalle"
            required=""
            class="form-control mb-1 form-select"
            @change="detalleSelected(), warningReq('detalleReq')"
            v-model="$store.state.formData.clave"
          >
            <option value>Descripción</option>
            <option
              v-for="subdescripcion in formData.subDescripciones"
              v-bind:key="subdescripcion.text"
              :value="subdescripcion.id"
            >
              {{ subdescripcion.text }}
            </option>
          </select>
          <small style="display: none; color: #fff" class="detalleReq"
            ><span>El campo Descripción es requerido</span></small
          >
        </div>
      </div>

      <!-- EDAD -->
      <div class="row">
        <div class="col-12 text-center text-white">Datos del Conductor</div>
        <div class="col-12 form">
          <select
            title="edad"
            name="edad"
            id="edad"
            required=""
            class="form-control form-select"
            v-model="$store.state.formData.edad"
            @change="
              calculaFechaNacimiento, myFocus('genero'), warningReq('edadReq')
            "
          >
            <option value>Edad del conductor</option>
            <option v-for="edad in formData.edades" v-bind:key="edad">
              {{ edad }}
            </option>
          </select>
          <small style="display: none; color: #fff" class="edadReq"
            ><span>El campo edad es requerido</span></small
          >
        </div>
      </div>
      <!-- GENERO -->
      <div class="row">
        <div class="col-12 col-md-6 form">
          <select
            title="genero"
            name="genero"
            v-model="$store.state.formData.genero"
            id="genero"
            required=""
            class="form-control form-select"
            @change="myFocus('cp'), warningReq('generoReq')"
          >
            <option value>Género</option>
            <option value="M">Masculino</option>
            <option value="F">Femenino</option>
          </select>
          <small style="display: none; color: #fff" class="generoReq"
            ><span
              >&nbsp;&nbsp;&nbsp;&nbsp;El campo género es requerido</span
            ></small
          >
        </div>
        <!-- CODIGO POSTAL -->
        <div class="col-12 col-md-6 form form-floating">
          <input
            title="cp"
            type="tel"
            name="cp"
            id="cp"
            v-model="cp"
            required=""
            pattern="^([1-9]{2}|[0-9][1-9]|[1-9][0-9])[0-9]{3}$"
            maxlength="5"
            minlength="5"
            onKeyPress="if(this.value.length === 5) return false;"
            class="form-control"
            placeholder="Código Postal"
            @change="myFocus('nombre')"
          />
          <label for="cp" class="text-center"
            >Escribe tu Código Postal</label
          >
          <small style="display: none; color: #fff" class="cpReq"
            ><span>El campo código postal es requerido</span></small
          >
          <small style="display: none; color: #fff" class="codigoPostalInc"
            ><span>Escribe tu código postal a 5 dígitos</span></small
          >
        </div>
      </div>
      <!-- NOMBRE -->
      <div class="row">
        <div class="col-12 form form-floating">
          <input
            title="nombre"
            type="text"
            name="nombre"
            id="nombre"
            v-model="nombre"
            required=""
            pattern="[a-zA-Z\sñÑáéíóúÁÉÍÓÚ\s\.]{3,50}"
            class="form-control"
            placeholder="Escribe tu nombre"
            @change="space('nombre')"
          />
          <label for="nombre" class="text-center">Escribe tu nombre</label>
          <small style="display: none; color: #fff" class="nombreReq"
            ><span>El campo nombre es requerido</span></small
          >
          <small style="display: none; color: #fff" class="nombreInc"
            ><span>Escribe el nombre correcto</span></small
          >
        </div>
      </div>
      <!-- CORREO -->
      <div class="row">
        <div class="col-12 col-lg-6 form form-floating">
          <input
            title="correo"
            type="text"
            name="correo"
            id="correo"
            v-model="correo"
            required=""
            pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
            minlength="8"
            maxlength="50"
            class="form-control"
            placeholder="Escribe tu email"
            @change="space('correo')"
          />
          <label for="correo" class="text-center">Escribe tu email</label>
          <small style="display: none; color: #fff" class="correoReq"
            ><span>El campo e-mail es requerido</span></small
          >
          <small style="display: none; color: #fff" class="correoInc"
            ><span>Ejemplo: tuemail@email.com</span></small
          >
        </div>
        <!-- TELEFONO -->
        <div class="col-12 col-lg-6 form form-floating">
          <input
            title="telefono"
            type="tel"
            name="telefono"
            id="telefono"
            v-model="telefono"
            required=""
            pattern="^(0*[,.]*[0-9][0-9]*([,.][0-9]+)*|[0-9]?[,.][0-9]*[1-9][0-9]*)?\d{10}$"
            maxlength="10"
            minlength="10"
            onKeyPress="if(this.value.length === 10) return false;"
            class="form-control"
            placeholder="Escribe tu teléfono"
            @change="myFocus('btnCotizarAuto')"
          />
          <small style="display: none; color: #fff" class="telefonoReq"
            ><span>El campo teléfono es requerido</span></small
          >
          <small style="display: none; color: #fff" class="telefonoInc"
            ><span>Escribe tu número a 10 dígitos</span></small
          >
          <label for="telefono" class="text-center">Escribe tu teléfono</label>
        </div>
         <input type="text" id="gclid_field" name="gclid_field" value="" style="visibility:hidden;height:1px;" />
      </div>
      <!-- CHECKBOX -->
      <div class="row">
        <div class="col-12">
          <privacidad />
        </div>
      </div>
      <!-- BOTON -->
      <div class="row">
        <div class="col-12 btnform">
          <button id="btnCotizarAuto" type="submit" class="btn btn-block">
            <div class="text-btnform">
              <p class="mb-0 text-white">
                Cotizar Seguro de auto
                <svg class="icons" style="width: 25px; height: 25px">
                  <use xlink:href="#proximo" />
                </svg>
              </p>
            </div>
          </button>
        </div>
      </div>
    </form>
  </no-ssr>
</template>

<script>
import catalogosDirectos from "~/plugins/catalogosDirectos";
import monitoreoService from "~/plugins/monitoreo";
import axios from "axios";
import marcas from "~/script/el_potosi.json";
import privacidad from "~/components/common/privacidad.vue";
import Catalogos from "~/plugins/catalogos";
// const catalogoDirecto = new catalogosDirectos();
const catalogo = new Catalogos();
const tokenData = process.env.tokenData;

export default {
  props: {
    config: Object,
  },
  components: {
    privacidad,
  },
  data() {
    return {
      formData: {
        marcas: [],
        modelos: [],
        descripciones: [],
        subDescripciones: [],
        detalles: [],
        edades: [],
      },
      telefono: "",
      nombre: "",
      correo: "",
      accessToken: "",
      cp: "",
      formValido: 0,
      warning_req: [
        { id: "marcaReq" },
        { id: "modeloReq" },
        { id: "descripcionReq" },
        { id: "detalleReq" },
        { id: "edadReq" },
        { id: "generoReq" },
        { id: "cpReq" },
        { id: "nombreReq" },
        { id: "correoReq" },
        { id: "telefonoReq" },
      ],
    };
  },

  watch: {
    telefono: function () {
      //version2
      if (this.telefono.length > 0) {
        //un caracter al menos
        var ultimoCaracter = this.telefono.substring(
          this.telefono.length - 1,
          this.telefono.length
        );
        var result = this.checkCaracter(ultimoCaracter, "numero");
        if (result) {
          //Buscara si inicia con 0 y lo quitara
          var regExp = /^0/;
          var phone = regExp.test(this.telefono);
          if (phone) {
            this.telefono = this.telefono.substring(1, this.telefono.length);
          }
          //El mismo caracter se puede repetir hasta 4 veces seguidas
          this.telefono = this.repetirCaracter(4, this.telefono, null);
          //valida que sean 10 numeros con expresion regular
          this.expresionRegularFinal(/^(\d){10}$/, this.telefono, "telefono");
          if (this.telefono.length == 10) {
            // this.myFocus("nombre")
            setTimeout(() => {
              this.myFocus("btnCotizarAuto");
            }, 1000);
          }
        } else {
          //Guarda valor sin ultimo caracter no numerico
          this.telefono = this.telefono.substring(0, this.telefono.length - 1);
        }
      } else {
        this.$store.state.formData.telefono = "";
        //Oculta advertencia INCORRECTO
        this.warningView("telefonoInc", "none");
        //Muestra advertencia REQUERIDO
        this.warningView("telefonoReq", "block");
      }
    },
    nombre: function() {//version2

      //Quita espacios del inicio
      this.nombre = this.myTrim_start(this.nombre);
      if(this.nombre.length>2){//un caracter al menos
        var ultimoCaracter = this.nombre.substring(this.nombre.length-1, this.nombre.length);
        var result = this.checkCaracter(ultimoCaracter,'letra');
        if(result){
          //El mismo caracter se puede repetir hasta 2 veces seguidas
          this.nombre = this.repetirCaracter(2,this.nombre,null);
          //valida nombre con expresion regular
          this.expresionRegularFinal(
            /^([a-zA-ZÀ-ÿ\u00f1\u00d1]+\s[a-zA-ZÀ-ÿ\u00f1\u00d1])*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$/,            
            this.nombre,'nombre');
          // if(this.nombre.search(/[0-9]/g)!=-1){
          //   // console.log('si entra :)')
          //   this.formValido = 0;
          // }
        }
        else{
          //Guarda valor sin ultimo caracter que no es letra
          this.nombre = this.nombre.substring(0, this.nombre.length-1);
        }
      }else{
        this.$store.state.formData.nombre = '';
        //Oculta advertencia INCORRECTO
        this.warningView("nombreInc", "none");
        //Muestra advertencia REQUERIDO
        this.warningView("nombreReq", "block");
      }
    },
    correo: function () {
      //version2
      //Quita espacios del inicio y del final
      this.correo = this.correo.trim(); //no funciona en el campo tipo email
      if (this.correo.length > 0) {
        //un caracter al menos
        //El mismo caracter se puede repetir hasta 3 veces seguidas
        this.correo = this.repetirCaracter(3, this.correo, null);
        //valida correo con expresion regular
        this.expresionRegularFinal(
          /^[a-zA-Z0-9\.\-\_]{2,30}@[a-zA-Z0-9]{2,15}\.[a-zA-Z]{2,5}(\.[a-zA-Z]{2,2})?$/,
          this.correo,
          "correo"
        );
      } else {
        this.$store.state.formData.correo = "";
        //Oculta advertencia INCORRECTO
        this.warningView("correoInc", "none");
        //Muestra advertencia REQUERIDO
        this.warningView("correoReq", "block");
      }
    },
    cp: function () {
      //version2
      if (this.cp.length > 0) {
        //un caracter al menos
        var ultimoCaracter = this.cp.substring(
          this.cp.length - 1,
          this.cp.length
        );
        var result = this.checkCaracter(ultimoCaracter, "numero");
        if (result) {
          //El mismo caracter se puede repetir hasta 4 veces seguidas
          this.cp = this.repetirCaracter(
            4,
            this.cp,
            "33333"
          );
          //valida que sean 10 numeros con expresion regular
          this.expresionRegularFinal(
            /^(\d){5}$/,
            this.cp,
            "cp"
          );
          console.log(this.cp.length);
          if (this.cp.length == 5) {
            // this.myFocus("nombre")
            setTimeout(() => {
              this.myFocus("nombre");
            }, 1000);
          }
        } else {
          //Guarda valor sin ultimo caracter no numerico
          this.cp = this.cp.substring(
            0,
            this.cp.length - 1
          );
        }
      } else {
        this.$store.state.formData.cp = "";
        //Oculta advertencia INCORRECTO
        this.warningView("codigoPostalInc", "none");
        //Muestra advertencia REQUERIDO
        this.warningView("cpReq", "block");
      }
    },
  },
  beforeCreate() {
    console.log("BEFORE CREATED...");
    this.$store.commit("validarTokenCore");
  },
  async created() {
    this.formData.marcas.length = 0;
    this.formData.modelos.length = 0;
    this.formData.descripciones.length = 0;
    this.formData.subDescripciones.length = 0;
    this.formData.detalles.length = 0;
    this.formData.edades.length = 0;
    this.$store.state.formData.aseguradora =
      this.$store.state.config.aseguradora;
    this.formData.marcas = marcas;
    if (
      this.$store.state.sin_token === true ||
      this.$store.state.sin_token === "expirado"
    ) {
      await this.$store
        .dispatch("getToken")
        .then((resp) => {
          if (typeof resp.data == "undefined") {
            this.accessToken = resp.accessToken;
          } else if (typeof resp.data.accessToken != "undefined") {
            this.accessToken = resp.data.accessToken;
          }
        })
        .catch((error) => {
          console.log("Hubo un problema al generar el token");
          var status =
            error.response !== undefined ? error.response.status : 500;
          var message =
            error.response !== undefined
              ? JSON.stringify({
                  error: error.response.data,
                  peticion: JSON.parse(error.config.data),
                })
              : JSON.stringify({
                  error: "ERR_CONNECTION_REFUSED",
                  peticion: { tokenData: tokenData },
                });
          this.monitoreo(1707, status, message);
        });
    } else {
      this.accessToken = this.$store.state.config.accessToken;
    }
    this.getEdades();
  },
  methods: {
    getModelos: function () {
      document.getElementById("modelo").focus();
      this.$store.state.formData.modelo = "";
      this.$store.state.formData.descripcion = "";
      this.$store.state.formData.detalle = "";
      this.$store.state.formData.detalle = "";
      this.formData.modelos.length = 0;
      this.formData.descripciones.length = 0;
      this.formData.subDescripciones.length = 0;
      this.formData.detalles.length = 0;
      catalogo
        .modelos(this.$store.state.formData.marca, this.accessToken)
        .then((response) => {
          this.formData.modelos = response.data;
        })
        .catch((error) => {
          console.log(error);
          var status = error.status
            ? error.status
            : error.response
            ? error.response.status
            : 500;
          var message = error.data
            ? JSON.stringify({
                error: error.data,
                peticion: {
                  aseguradora: this.$store.state.formData.aseguradora,
                  marca: this.$store.state.formData.marca,
                },
              })
            : JSON.stringify({
                error: error,
                peticion: {
                  aseguradora: this.$store.state.formData.aseguradora,
                  marca: this.$store.state.formData.marca,
                },
              });
          if (status === 401) {
            this.$store
              .dispatch("getToken")
              .then((resp) => {
                if (typeof resp.data == "undefined") {
                  this.accessToken = resp.accessToken;
                } else if (typeof resp.data.accessToken != "undefined") {
                  this.accessToken = resp.data.accessToken;
                }
                this.getModelos();
              })
              .catch((error) => {
                console.log("Hubo un problema al generar el token");
                var status =
                  error.response !== undefined ? error.response.status : 500;
                var message =
                  error.response !== undefined
                    ? JSON.stringify({
                        error: error.response.data,
                        peticion: JSON.parse(error.config.data),
                      })
                    : JSON.stringify({
                        error: "ERR_CONNECTION_REFUSED",
                        peticion: { tokenData: tokenData },
                      });
                this.monitoreo(659, status, message);
              });
          } else {
            console.log("Hubo un problema al cargar los modelos");
            this.monitoreo(1548, status, message);
          }
        });
    },
    getDescripciones: function () {
      document.getElementById("descripcion").focus();
      this.$store.state.formData.descripcion = "";
      this.$store.state.formData.detalle = "";
      this.$store.state.formData.detalle = "";
      this.formData.descripciones.length = 0;
      this.formData.subDescripciones.length = 0;
      this.formData.detalles.length = 0;
      catalogo
        .submarcas(
          this.$store.state.formData.marca,
          this.$store.state.formData.modelo,
          this.accessToken
        )
        .then((response) => {
          this.formData.descripciones = response.data;
        })
        .catch((error) => {
          console.log(error);
          var status = error.status
            ? error.status
            : error.response
            ? error.response.status
            : 500;
          var message = error.data
            ? JSON.stringify({
                error: error.data,
                peticion: {
                  aseguradora: this.$store.state.formData.aseguradora,
                  marca: this.$store.state.formData.marca,
                },
              })
            : JSON.stringify({
                error: error,
                peticion: {
                  aseguradora: this.$store.state.formData.aseguradora,
                  marca: this.$store.state.formData.marca,
                },
              });
          if (status === 401) {
            this.$store
              .dispatch("getToken")
              .then((resp) => {
                if (typeof resp.data == "undefined") {
                  this.accessToken = resp.accessToken;
                } else if (typeof resp.data.accessToken != "undefined") {
                  this.accessToken = resp.data.accessToken;
                }
                this.getModelos();
              })
              .catch((error) => {
                console.log("Hubo un problema al generar el token");
                var status =
                  error.response !== undefined ? error.response.status : 500;
                var message =
                  error.response !== undefined
                    ? JSON.stringify({
                        error: error.response.data,
                        peticion: JSON.parse(error.config.data),
                      })
                    : JSON.stringify({
                        error: "ERR_CONNECTION_REFUSED",
                        peticion: { tokenData: tokenData },
                      });
                this.monitoreo(382, status, message);
              });
          } else {
            console.log("Hubo un problema al cargar los modelos");
            this.monitoreo(1547, status, message);
          }
        });
    },
    getSubDescripciones: function () {
      document.getElementById("detalle").focus();
      this.$store.state.formData.detalle = "";
      this.$store.state.formData.detalle = "";
      this.formData.subDescripciones.length = 0;
      this.formData.detalles.length = 0;

      axios.get("https://api.ipify.org?format=json").then((resp) => {
        if (typeof resp.data == "undefined") {
          this.$store.state.config.ipCliente = resp.ip;
        } else if (typeof resp.data.ip != "undefined") {
          this.$store.state.config.ipCliente = resp.data.ip;
        }
      });


      catalogo
        .descripciones(
          this.$store.state.formData.marca,
          this.$store.state.formData.modelo,
          this.$store.state.formData.descripcion,
          this.accessToken
        )
        .then((response) => {
          this.formData.subDescripciones = response.data;
        })
        .catch((error) => {
          console.log(error);
          var status = error.status
            ? error.status
            : error.response
            ? error.response.status
            : 500;
          var message = error.data
            ? JSON.stringify({
                error: error.data,
                peticion: {
                  aseguradora: this.$store.state.formData.aseguradora,
                  marca: this.$store.state.formData.marca,
                },
              })
            : JSON.stringify({
                error: error,
                peticion: {
                  aseguradora: this.$store.state.formData.aseguradora,
                  marca: this.$store.state.formData.marca,
                },
              });
          if (status === 401) {
            this.$store
              .dispatch("getToken")
              .then((resp) => {
                if (typeof resp.data == "undefined") {
                  this.accessToken = resp.accessToken;
                } else if (typeof resp.data.accessToken != "undefined") {
                  this.accessToken = resp.data.accessToken;
                }
                this.getModelos();
              })
              .catch((error) => {
                console.log("Hubo un problema al generar el token");
                var status =
                  error.response !== undefined ? error.response.status : 500;
                var message =
                  error.response !== undefined
                    ? JSON.stringify({
                        error: error.response.data,
                        peticion: JSON.parse(error.config.data),
                      })
                    : JSON.stringify({
                        error: "ERR_CONNECTION_REFUSED",
                        peticion: { tokenData: tokenData },
                      });
                this.monitoreo(382, status, message);
              });
          } else {
            console.log("Hubo un problema al cargar los modelos");
            this.monitoreo(1549, status, message);
          }
        });
    },
    catchStatusAndMessage(error, data) {
      this.$store.state.status = "";
      if (typeof error.status != "undefined") {
        this.$store.state.status = error.status;
      } else if (typeof error.response != "undefined") {
        if (typeof error.response.status != "undefined") {
          this.$store.state.status = error.response.status;
        }
      }
      if (typeof this.$store.state.status != "number") {
        this.$store.state.status = 500;
      }
      this.$store.state.message = JSON.stringify({
        error: error,
        peticion: data,
      });
    },
    monitoreo: function (idEndPoint, status, message) {
      monitoreoService
        .search(
          idEndPoint,
          status,
          message,
          this.$store.state.config.idMedioDifusion,
          1, //verficiar este dato
          1, //verficiar este dato
          this.accessToken
        )
        .then((respMonitoreo) => {
          console.log("Se ha reportado el fallo del servicio");
        })
        .catch((error) => {
          console.log("También falló el monitoreo");
        });
    },

    getEdades: function () {
      this.formData.edades = Array.from(Array(80).keys(), (n) => n + 17 + 1);
    },
    detalleSelected(evt) {
      var x = document.getElementById("detalle");
      var i = x.selectedIndex;
      if (this.$store.state.formData.clave != "") {
        this.$store.state.formData.detalle = x.options[i].text;
      } else {
        this.$store.state.formData.detalle = "";
      }
      //   this.myFocus("edad");
      this.warningReq("detalleReq");
    },
    validateBeforeSubmit() {
      this.formValido = 1;
      for (var w in this.warning_req) {
        //w=indices
        this.warningReq(this.warning_req[w].id);
      }
      if (this.formValido) {
        document.getElementById("btnCotizarAuto").disabled = true;
        document.getElementById("formcotizar").reset();
        $nuxt._router.push({ path: this.$store.state.config.urlRedireccion });
      } else {
        document.getElementById("btnCotizarAuto").disabled = false;
      }
    },
    myFocus: function (id) {
      setTimeout(alertFunc, 500);
      function alertFunc() {
        if (typeof document != "undefined") {
          var e = document.getElementById(id);
          if (e) {
            e.focus();
          }
        }
      }
    },
    calculaFechaNacimiento() {
      this.$store.state.formData.fechaNacimiento = (
        "01/01/" +
        (new Date().getFullYear() - this.$store.state.formData.edad).toString()
      ).toString("dd/MM/yyyy");
    },
    warningReq: function (idWarning) {
      var id = idWarning.substring(0, idWarning.length - 3);
      var elemento = document.getElementById(id);
      if (elemento) {
        //ocultar warningReq
        var req = document.getElementsByClassName(idWarning);
        if (typeof req[0] != "undefined") {
          req[0].style.display = "none";
        }
        if (
          (id == "cp" &&
            this.$store.state.formData.cp == "") ||
          this.cp.search(/[a-zA-Z]/g) != -1
        ) {
          this.formValido = 0;
          if (elemento.value == "") {
            this.warningView(idWarning, "block");
          }
        } else if (
          (id == "nombre" && this.$store.state.formData.nombre == "") ||
          this.nombre.search(/[0-9]/g) != -1
        ) {
          this.formValido = 0;
          if (elemento.value == "") {
            this.warningView(idWarning, "block");
          }
        } else if (id == "correo" && this.$store.state.formData.correo == "") {
          this.formValido = 0;
          if (elemento.value == "") {
            this.warningView(idWarning, "block");
          }
        } else if (
          (id == "telefono" && this.$store.state.formData.telefono == "") ||
          this.telefono.search(/[a-zA-Z]/g) != -1
        ) {
          this.formValido = 0;
          if (elemento.value == "") {
            this.warningView(idWarning, "block");
          }
        } else if (
          elemento.value == "" &&
          (idWarning == "marcaReq" ||
            idWarning == "modeloReq" ||
            idWarning == "descripcionReq" ||
            idWarning == "detalleReq" ||
            idWarning == "edadReq" ||
            idWarning == "generoReq")
        ) {
          this.warningView(idWarning, "block");
          this.formValido = 0;
        } else {
        }
      } else {
        console.log("No existe el elemento con id " + id);
      }
    }, //FIN warningReq
    warningView: function (id, view) {
      var req = document.getElementsByClassName(id);
      if (typeof req[0] != "undefined") {
        req[0].style.display = view;
      }
    }, //FIN warningView
    myTrim_start: function (x) {
      //return x.replace(/^\s+|\s+$/gm,'');//Funcionamiento original de trim();
      return x.replace(/^\s+/, "");
    }, //FIN myTrim
    checkCaracter: function (caracter, tipo) {
      var regExp = "";
      if (tipo == "numero") {
        regExp = /[0-9]/;
      } else {
        regExp = /[A-Za-z\sñÑáéíóúÁÉÍÓÚ\s\t]/;
      }
      //regresa true si el caracter es valido
      return regExp.test(caracter);
    },
    repetirCaracter: function (veces, valor, excepcion) {
      let regExp = new RegExp(`(.)\\1{${veces}}`);
      var result = regExp.exec(valor);
      if (result && valor != excepcion) {
        var inicio = valor.substring(0, result.index);
        var final = valor.substring(result.index + 1, valor.length);
        return inicio + final;
      } else {
        return valor;
      }
    },
    expresionRegularFinal: function (regExp, valor, campo) {
      var result = regExp.exec(valor);
      if (result) {
        this.$store.state.formData[campo] = valor.trim();
        //Oculta advertencia INCORRECTO
        this.warningView(campo + "Inc", "none");
        this.warningReq(campo + "Req");
      } else {
        this.$store.state.formData[campo] = "";
        //Oculta advertencia REQUERIDO
        this.warningReq(campo + "Req");
        //Muestra advertecia INCORRECTO
        this.warningView(campo + "Inc", "block");
      }
    },

    space: function (valor) {
      // debugger
      let cadena = this[valor];
      let primero = cadena.search("@")
      let separado;
      let cad2 = "";
      // se le quita el ultimo
      if ([valor] == "correo") {
        if (primero) {
separado = cadena.substring(primero + 1, cadena.length).split("@")
          separado.forEach(element => {
            cad2 += element.replaceAll("@", "")
          });
        }
        cadena = cadena.substring(0, primero + 1) + cad2
        cadena = cadena.split(' ').join(' ').trim();
        // elimina todos los espacios encontrados
        cadena = cadena.replace(/\s+/g, '');
      } else {
        // se le quita el ultimo espacio
        cadena = cadena.split(' ').join(' ').trim();
      }
      this[valor] = cadena;
    },


  },
};
</script>
